# --- Compilador VCS (Synopsys) ---
csrc/
simv
*.daidir/
*.vdb/
urgReport/
*.0
*.log
*.key
*.pli

# --- Visualizador de Ondas Verdi (Synopsys) ---
verdiLog/
*.fsdb
*.vcd
*.rc
*.conf

# --- Arquivos de Sistema e Compilação C/C++ ---
objs/
diag/
hsim/
*.sh
*.so
*.o

# --- Extensões Gerais Temporárias ---
*~
.#*